#######################################################
# Versione 1.0 (03/04/2017)
#
# https://github.com/github/gitignore
# https://en.wikipedia.org/wiki/List_of_archive_formats
#######################################################

######
# Misc
######

*.~*
*.bak*
#*.bin*
*.dat*
*.dump*
*.hprof
*.log*
*.msi*
*.old*
*tmp*
*tmp*.*
*_old*.*
*dump*
hs_err_pid*
logs/

##################
# Compresses files
##################

*.7z
*.a
*.ar
*.arc
*.ace
*.arj
*.cab
*.cpio
*.dd
*.bz2
*.gz
*.iso
*.lz*
*.rar
*.sfx
*.s7z
*.tar
*.tar.*
*.uc*
*.z
*.zip*
*.zz

#############
# Executables
#############

*.app
*.elf
*.exe
*.dll
*.hex
*.i*86
*.mod*
.mtj.tmp/
*.ocx
*.out
*.smod*
*.so
*.so.*
*.x86_64

#########
# Windows
#########

*.dll
Thumbs.db

#######
# C/C++ 
#######

*.aps
*.d
*.DotSettings
*.idb
*.exp
*.gch
*.dSYM/
*.dylib
*.ko
*.la
*.lai
*.lib
*.lo
*.map
*.ncb
*.o
*.pch
*.pdb
*.sdf
*.slm
*.slo
*.su
*.suo
*.sdb
*.user
*pch/
*_ReSharper*.*
_UpgradeReport_Files/
Debug/
obj/
packages/
Release/
UpgradeLog.XML

########
# Delphi
########

*.dcu
*.ddp
*.dsk
*.dti
*.filters
*.identcache
*.local
*.vshost*.*

######
# Java
######

*.apk
*.class
*.ear
*.iml
*.ipr
*.iws
*.jar
*.war
.classpath
.idea
.project
.settings
classes/
target/
workspace*/

#####
# VCS
#####

.cvsignore
.git
.svn
submodules/
.metadata/
.recommenders/